* {
  margin: 0;
  padding: 0;
}
.box {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.box .top_bg .content {
  width: 61.482%;
  height: 77px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.box .top_bg .content .logo {
  float: left;
  width: 50%;
}
.box .top_bg .content .logo img {
  margin-top: 10px;
}
.box .top_bg .content .nav {
  width: 50%;
  height: 32px;
  line-height: 48px;
  padding-top: 1em;
  text-align: right;
}
.box .top_bg .content .nav ul {
  list-style: none;
  float: right;
  height: 32px;
}
.box .top_bg .content .nav ul li {
  float: left;
  margin: 0 6px;
  font-weight: bold;
  color: white;
}
.box .top_bg .content .nav ul li a {
  text-decoration: none;
  color: white;
}
.box .photo {
  padding: 4em 0;
}
.box .photo .content {
  width: 1170px;
  height: auto;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
}
.box .photo .content .row div {
  display: inline-block;
}
.box .photo .content .row .img1 {
  overflow: hidden;
  width: 360px;
}
.box .photo .content .row .img1 img {
  width: 100%;
  transition: all 0.5s;
}
.box .photo .content .row .img1:hover img {
  transform: scale(1.5);
}
.box .photo .content .row .img2 {
  overflow: hidden;
  width: 748px;
  margin-left: 25px;
}
.box .photo .content .row .img2 img {
  width: 100%;
  transition: all 0.5s;
}
.box .photo .content .row .img2:hover img {
  transform: scale(1.5);
}
.box .photo .content .row1 {
  margin-top: 25px ;
}
.box .photo .content .row1 div {
  display: inline-block;
}
.box .photo .content .row1 .img3,
.box .photo .content .row1 .img4,
.box .photo .content .row1 .img5 {
  overflow: hidden;
  width: 360px;
}
.box .photo .content .row1 .img3 img,
.box .photo .content .row1 .img4 img,
.box .photo .content .row1 .img5 img {
  width: 100%;
  transition: all 0.5s;
}
.box .photo .content .row1 .img3:hover img,
.box .photo .content .row1 .img4:hover img,
.box .photo .content .row1 .img5:hover img {
  transform: scale(1.5);
}
.box .photo .content .row1 .img4 {
  margin-left: 25px ;
}
.box .photo .content .row1 .img5 {
  margin-left: 25px ;
}
.box .photo .content .row2 {
  margin-top: 25px;
}
.box .photo .content .row2 div {
  display: inline-block;
}
.box .photo .content .row2 .img6 {
  overflow: hidden;
  float: left;
  width: 360px;
}
.box .photo .content .row2 .img6 img {
  width: 100%;
  transition: all 0.5s;
}
.box .photo .content .row2 .img6:hover img {
  transform: scale(1.5);
}
.box .photo .content .row2 .img7 {
  width: 360px;
  margin-left: 30px ;
  overflow: hidden;
}
.box .photo .content .row2 .img7 img {
  width: 100%;
  transition: all 0.5s;
}
.box .photo .content .row2 .img7:hover img {
  transform: scale(1.5);
}
.box .photo .content .row2 .img8 {
  width: 360px;
  margin-left: 26px ;
  overflow: hidden;
}
.box .photo .content .row2 .img8 img {
  width: 100%;
  transition: all 0.5s;
}
.box .photo .content .row2 .img8:hover img {
  transform: scale(1.5);
}
.box .photo .content .row2 .img9 {
  width: 748px;
  margin-left: 30px;
  margin-top: 0px;
  overflow: hidden;
}
.box .photo .content .row2 .img9 img {
  width: 100%;
  transition: all 0.5s;
}
.box .photo .content .row2 .img9:hover img {
  transform: scale(1.5);
}
.box .cont_bottom {
  background-color: #FAFAFD;
  padding: 6em 0px;
}
.box .cont_bottom .content {
  width: 1170px;
  height: auto;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
}
.box .cont_bottom .content .text h3 {
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 10px;
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
}
.box .cont_bottom .content .text .english div {
  display: inline-block;
}
.box .cont_bottom .content .text .english .left {
  width: 390px;
  height: 233.59px;
}
.box .cont_bottom .content .text .english .left h3 {
  font-size: 1.3em;
  font-weight: 700;
  padding: 1em 0px;
  font-family: 'Oswald', sans-serif;
}
.box .cont_bottom .content .text .english .left p {
  font-size: 1em;
  font-weight: 100;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
}
.box .cont_bottom .content .text .english .left p a {
  text-decoration: none;
  color: deepskyblue;
}
.box .cont_bottom .content .text .english .middle {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 360px;
  height: 233.59px;
}
.box .cont_bottom .content .text .english .middle h3 {
  font-size: 1.3em;
  font-weight: 700;
  padding: 1em 0px;
  font-family: 'Oswald', sans-serif;
}
.box .cont_bottom .content .text .english .middle p {
  font-size: 1em;
  font-weight: 100;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
}
.box .cont_bottom .content .text .english .middle p a {
  text-decoration: none;
}
.box .cont_bottom .content .text .english .right {
  position: relative;
  top: 60px;
  width: 380px;
  height: 302.38px;
}
.box .cont_bottom .content .text .english .right h5 {
  font-size: 1.2em;
  font-weight: 700;
  padding: 1em 0px;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
}
.box .cont_bottom .content .text .english .right form .name {
  width: 68.5%;
  padding: 12px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  outline: none;
  position: relative;
}
.box .cont_bottom .content .text .english .right form textarea {
  width: 70%;
  height: 6.5em;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  resize: none;
}
.box .cont_bottom .content .text .english .right form .submit {
  padding: 14px 1.5em;
  font-size: 15px;
  font-weight: 400;
  background-color: black;
  color: #fff;
  border: none;
  outline: none;
}
.box .footer {
  background-color: #231F20;
  padding: 1.5em 0em;
}
.box .footer .content {
  width: 61.482%;
  height: auto;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
}
.box .footer .content .footer_cont p {
  text-align: center;
  color: #fff;
  font-size: 15px;
}
.box .footer .content .footer_cont p a {
  color: deepskyblue;
}
